<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MakeMyTrip - PNR Enquiry</title>
</head>
<body>
	<form th:action="@{/get-ticket}" th:object="${passenger}" method="get">
		
		<h2>PNR Enquiry</h2>
		
		<table>
			
			<tr>
				<td>PNR Number: </td>
				<td><input type="number" name="pnrNum" required/></td>
			</tr>
			
			<tr>
				<td></td>
				<td><input type="submit" value="Get Ticket"/></td>
			</tr>
			
			
		</table>
		<br>
		<hr/>
		<br>
		Train Name: <span th:text="${ticket.trainName}"></span><br>
		Train Number: <span th:text="${ticket.trainNumber}"></span><br>
		Ticket From: <span th:text="${ticket.ticketFrom}"></span><br>
		Ticket To: <span th:text="${ticket.ticketTo}"></span><br>
		Date of Journey: <span th:text="${ticket.doj}"></span><br>
		Phone No.: <span th:text="${ticket.phoneNo}"></span><br>
		Full Name: <span th:text="${ticket.name}"></span><br>
		Address: <span th:text="${ticket.address}"></span><br>
		
	</form>
</body>
</html>